<div id='ympchart'>
	</div>
	<%= render_chart(@mileage_breakdown_year, 'ympchart') %>
<br />
<div id='ysatlchart' style='width: 660px; height: 240px;'></div>
<%= render_chart(@speed_annotated_timeline, 'ysatlchart') %>
<br />
<h2>More coming soon!</h2>