<h1>Contact Me</h1>
<p>
  <a href="mailto:nicholas.gallegos@gmail.com">Email Me</a><br />
  -OR-<br />
  <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=ede1ba5cd66063416edbc9b4e5ac9e9378cff662&style=0" /></object>
</p>