<h1>Run 500 Miles</h1>
<p>
  This is the home page for the
  Run 500 Miles application.
</p>

<% if signed_in? %>
<!--Display personal stats-->
Your personal stats will show up here once I've implemented them!
  <% else %>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>