<h1>Leaderboards</h1>

<div id="leaderboards">
	<ul>
		<li><a href="#leaderboards-year">Year</a></li>
		<li><a href="#leaderboards-week">Week</a></li>
	</ul>
	<div id="leaderboards-year">
		<%= render 'shared/leaderboard', :leader_items => @yearly_leader_items, :board_type => "Year" %>
	</div>
	<div id="leaderboards-week">
		<%= render 'shared/leaderboard', :leader_items => @weekly_leader_items, :board_type => "Week" %>
	</div>
</div>